.header
  height: 7rem
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  .navigation-bar
    display: flex
    ul
      list-style: none
      display: flex
      margin: 0 2rem
      padding: 0
      line-height: 1.8rem
      font-size: 1.4rem
      flex-flow: row nowrap
      gap: 2rem
      align-items: center
      a
        text-decoration: none
        color: black