doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Поиск отелей
        link(rel="stylesheet", href="../../styles/main.sass")
    body
    include ../components/header.pug

    div.container
        div.container__widget
            div.container__widget-heading Найдем номера под ваши пожелания
            form.container__widget-form
                .container__widget_form-group
                    .container__widget_form-group1
                        label(for="arrival") Дата прибытия
                        input(type="date" id="arrival")
                    .container__widget_form-group2
                        label(for="departure") Дата отправления
                        input(type="date" id="departure")
                .container__widget_form-group
                    .container__widget_form-group3
                        label(for="number-of-guests") Гости
                        input(type="number" id="number-of-guests" placeholder="Сколько гостей")

    include ../components/footer.pug
    script(src="../../js/index.js" defer="defer")