doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="../../styles/main.scss")

    body

    include ../components/header.pug

    main.container.suggestions
        form.search-form
            .search-form__group
                h3.search-form__label Даты пребывания в отеле
                input(type="date" id="dates")
            .search-form__group
                h3.search-form__label Гости
                input(type="number" id="number_of_guests")
            .search-form__group
                h3.search-form__label Диапазон цены
                input(type="range" id="prices")
            .search-form__group
                h3.search-form__label Правила дома
                .rules
                    .rules__item
                        input.rules__checkbox(type="checkbox" id="smoking")
                        label.rules__label(for="smoking") Можно курить
                    .rules__item
                        input.rules__checkbox(type="checkbox" id="pets" checked)
                        label.rules__label(for="pets") Можно с питомцами
                    .rules__item
                        input.rules__checkbox(type="checkbox" id="guests" checked)
                        label.rules__label(for="guests") Можно пригласить гостей (до 10 человек)

            .search-form__group 
                h3.search-form__label Доступность
                .rules
                    .rules__item
                        input.rules_checkbox(type="checkbox" id="wide-hall")
                        label.rules__label--bold(for="wide-hall") Широкий коридор
                        label.add_rules_label(for="wide-hall") Ширина коридоров в номере не менее 91 см.

                    .rules__item
                        input.rules_checkbox(type="checkbox" id="wide-hall")
                        label.rules__label--bold(for="invalid_helper") Помощник для инвалидов
                        label.add_rules_label(for="invalid_helper") На 1 этаже вас встретит специалист и проводит до номера.

            .search-form__group 
                h3.search-form__label Удобства номера
                input(type="number" id="rooms")


        section.hotel-results
            h1.hotel-results__heading Номера, которые мы для вас подобрали
            .hotel-results__grid
                .hotel-card
                    img.hotel-card__image-content(src="../../assets/images/hotel/image-888-1.png" alt="Image 888")
                    .hotel-card__details
                        .hotel-card__number-block
                            .hotel-card__symbol №
                            .hotel-card__number 888
                            .hotel-card__type Люкс
                        .hotel-card__price-block
                            .hotel-card__price 9 990Р
                            .hotel-card__term в сутки
                    .hotel-card__rating
                        img.hotel-card_rating-stars(src="../../assets/images/rating/5 star.svg" alt="5 звёзд")
                        .hotel-card__reviews
                            .hotel-card__review-number 145 
                            .hotel-card__review Отзывов

                .hotel-card
                    img.hotel-card__image-content(src="../../assets/images/hotel/image-840-1.png" alt="Image 840")
                    .hotel-card__details
                        .hotel-card__number-block
                            .hotel-card__symbol №
                            .hotel-card__number 840
                            .hotel-card__type Люкс
                        .hotel-card__price-block
                            .hotel-card__price 9 990Р
                            .hotel-card__term в сутки
                    .hotel-card__rating
                        img.hotel-card_rating-stars(src="../../assets/images/rating/4 star.svg" alt="5 звёзд")
                        .hotel-card__reviews
                            .hotel-card__review-number 145 
                            .hotel-card__review Отзывов

                .hotel-card
                    img.hotel-card__image-content(src="../../assets/images/hotel/image-980-1.png" alt="Image 980")
                    .hotel-card__details
                        .hotel-card__number-block
                            .hotel-card__symbol №
                            .hotel-card__number 888
                            .hotel-card__type Люкс
                        .hotel-card__price-block
                            .hotel-card__price 9 990Р
                            .hotel-card__term в сутки
                    .hotel-card__rating
                        img.hotel-card_rating-stars(src="../../assets/images/rating/3 star.svg" alt="5 звёзд")
                        .hotel-card__reviews
                            .hotel-card__review-number 145 
                            .hotel-card__review Отзывов

                .hotel-card
                    img.hotel-card__image-content(src="../../assets/images/hotel/image-888-1.png" alt="Image 888")
                    .hotel-card__details
                        .hotel-card__number-block
                            .hotel-card__symbol №
                            .hotel-card__number 888
                            .hotel-card__type Люкс
                        .hotel-card__price-block
                            .hotel-card__price 9 990Р
                            .hotel-card__term в сутки
                    .hotel-card__rating
                        img.hotel-card_rating-stars(src="../../assets/images/rating/5 star.svg" alt="5 звёзд")
                        .hotel-card__reviews
                            .hotel-card__review-number 145 
                            .hotel-card__review Отзывов

                .hotel-card
                    img.hotel-card__image-content(src="../../assets/images/hotel/image-840-1.png" alt="Image 840")
                    .hotel-card__details
                        .hotel-card__number-block
                            .hotel-card__symbol №
                            .hotel-card__number 840
                            .hotel-card__type Люкс
                        .hotel-card__price-block
                            .hotel-card__price 9 990Р
                            .hotel-card__term в сутки
                    .hotel-card__rating
                        img.hotel-card_rating-stars(src="../../assets/images/rating/4 star.svg" alt="5 звёзд")
                        .hotel-card__reviews
                            .hotel-card__review-number 145 
                            .hotel-card__review Отзывов

                .hotel-card
                    img.hotel-card__image-content(src="../../assets/images/hotel/image-980-1.png" alt="Image 980")
                    .hotel-card__details
                        .hotel-card__number-block
                            .hotel-card__symbol №
                            .hotel-card__number 888
                            .hotel-card__type Люкс
                        .hotel-card__price-block
                            .hotel-card__price 9 990Р
                            .hotel-card__term в сутки
                    .hotel-card__rating
                        img.hotel-card_rating-stars(src="../../assets/images/rating/3 star.svg" alt="5 звёзд")
                        .hotel-card__reviews
                            .hotel-card__review-number 145 
                            .hotel-card__review Отзывов



    include ../components/footer.pug
