footer
    div.container
        div.widgets
            div.group
                div.logo_image
                    img(src='../../assets/images/Logo.svg', alt="Logo of toxin")
                div.comment Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            div.group
                div.nav
                    h2 Навигация
                    ul
                        li: a(href='#') О нас
                        li: a(href='#') Новости
                        li: a(href='#') Служба поддержки
                        li: a(href='#') Услуги
            div.group
                div.nav
                    h2 О нас
                    ul
                        li: a(href='#') О сервисе
                        li: a(href='#') Наша команда
                        li: a(href='#') Вакансии
                        li: a(href='#') Инвесторы
            div.group
                div.nav
                    h2 Служба поддержки
                    ul
                        li: a(href='#') Соглашения
                        li: a(href='#') Сообщества
                        li: a(href='#') Связь с нами
            div.group
                div.nav
                    h2 Подписка
                    div.sub_text Получайте специальные предложения и новости сервиса
                    input#nav_sub_mail(type="text" name="Почта" placeholder="Email")
        div.copyright_bar
            div.copyright_text Copyright © 2018 Toxin отель. Все права защищены.
            div.social_media_buttons
                a.fa.fa-facebook(href="https://www.facebook.com")
                a.fa.fa-twitter(href="https://www.x.com")
                a.fa.fa-instagram(href="https://www.instagram.com")