header.header.container
    a(href="index.html" class="logo-link")
        img(src="../../assets/images/Logo.svg", alt="Logo of toxin")
    nav.navigation-bar
        ul
            li: a(href="#") О нас
            li
                a(href="#") Услуги
                    i.material-symbols-rounded keyboard_arrow_down
            li: a(href="#") Вакансии
            li: a(href="#") Новости
            li
                a(href="#") Соглашения
                    i.material-symbols-rounded keyboard_arrow_down
        .buttons
            button.login Войти
            button.register Зарегистрироваться