header.header
    a(href="#" class="logo-link")
        img(src="../../assets/images/Logo.svg", alt="Logo of toxin")
    nav
        ul
            li О нас
            li Услуги
            li Вакансии
            li Новости
            li Соглашения
        .buttons
            button.login Войти
            button.register Зарегистрироваться